@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');


*

{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}

body

{
    min-height: 100vh;
    background: #1a313a;
}

.side-menu

{
    position: absolute;
    width: 60px;
    height: 100vh;
    background: #fff;
    overflow: hidden;
    transition: 0.5s;
}

.side-menu:hover

{
    width: 300px;
}

.side-menu ul

{
    position: relative;
    height: 100vh;
}

.side-menu ul li

{
    list-style: none;
}

.side-menu ul li:hover

{
    background: #000;
   
}

.side-menu ul li:hover .menu-icon

{
   color: #fff;
   
}

.side-menu ul li:hover .menu-text

{
   color: #fff;
   
}

.side-menu ul li a

{
    position: relative;
    display: flex;
    white-space: nowrap;
    text-decoration: none;
}

.side-menu ul li a .menu-icon

{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 60px;
    height: 60px;
    font-size: 1.5em;
    color: #333;
}


.side-menu ul li a .menu-text

{
    position: relative;
    height: 60px;
    display: flex;
    align-items: center;
    font-size: 1em;
    color: #333;
    text-transform: uppercase;
    letter-spacing: 0.05em;
}

.side-menu ul li.site-logo

{
  margin-bottom: 50px;
}

.side-menu ul li.site-logo:hover

{
    background: #fff;
}

.side-menu ul li.site-logo:hover .menu-icon

{
    color: #333333;
}

.side-menu ul li.site-logo:hover .menu-text

{
    color: #333333;
}





.side-menu ul li.site-logo .menu-icon

{
    font-size: 2em;
    font-weight: 500;
}

.menu-bottom

{
    position: absolute;
    bottom: 0;
    width: 100%;
}

.menu-bottom .image-box

{
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
}

.menu-bottom .image-box img

{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}